<div class="header">
    <ul class="menu">
        <li>@Html.ActionLink("All applications", "Index", "Application")</li>
        <li>@Html.ActionLink("New application", "Create", "Application")</li>
        <li>@Html.ActionLink("Log out", "Logout", "Login")</li>
    </ul>
</div>